#name {
  font-weight: 500;
}
#b1 {
  height: 3rem;
  width: 6rem;
  margin-left: 8rem;
  margin-bottom: 1rem;
}
#b2 {
  height: 3rem;
  width: 6rem;
  margin-bottom: 1rem;
}
#b3 {
  height: 3rem;
  width: 6rem;
  margin-bottom: 1rem;
}
#col1,
#col2 {
  margin-top: 1rem;
  margin-left: 0.5rem;
}
#row1 {
  margin-left: 18rem;
}
#row {
  margin-top: 1rem;
}
#c2 {
  border: 2px solid black;
  border-radius: 1rem;
  box-sizing: content-box;
  padding: 10px;
  margin: 20px;
}
